MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/polyhesi?retryWrites=true&w=majority
MONGODB_DB=polyhesi
SESSION_SECRET=change-this-to-a-long-random-string
ADMIN_PASSWORD=change-admin-password
TEST_PASSWORD=change-test-password
